.env
.env.*

.git
.gitignore
.gitattributes

node_modules
.next
out
coverage

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode
.idea

# Not needed for container build
docs
scripts
DEV_MODE.md
DOCKER_DEPLOYMENT.md
README.md